In [1]:
import numpy as np
import pandas as pd
import os
for dirname,_,filenames in os.walk("./data"):
    for filename in filenames:
        print(os.path.join(dirname,filename))

./data\personality_dataset.csv
./data\sample_submission.csv
./data\test.csv
./data\train.csv

In [2]:
df_train = pd.read_csv("./data/train.csv")
df_test = pd.read_csv("./data/test.csv")

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18524 entries, 0 to 18523
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         18524 non-null  int64
 1   Time_spent_Alone           17334 non-null  float64
 2   Stage_fear                 16631 non-null  object
 3   Social_event_attendance    17344 non-null  float64
 4   Going_outside              17058 non-null  float64
 5   Drained_after_socializing  17375 non-null  object
 6   Friends_circle_size        17470 non-null  float64
 7   Post_frequency             17260 non-null  float64
 8   Personality                18524 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 1.3+ MB

In [4]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         6175 non-null   int64
 1   Time_spent_Alone           5750 non-null   float64
 2   Stage_fear                 5577 non-null   object
 3   Social_event_attendance    5778 non-null   float64
 4   Going_outside              5709 non-null   float64
 5   Drained_after_socializing  5743 non-null   object
 6   Friends_circle_size        5825 non-null   float64
 7   Post_frequency             5767 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 386.1+ KB

In [5]:
df_train.shape

(18524, 9)

In [6]:
df_test.shape

(6175, 8)

In [7]:
df_train["Personality"].value_counts()

Personality
Extrovert    13699
Introvert     4825
Name: count, dtype: int64

In [8]:
df_train.head(5)

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,NaN,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert

In [9]:
df_train["Stage_fear"].unique()

array(['No', 'Yes', nan], dtype=object)

In [10]:
df_train["Drained_after_socializing"].unique()

array(['No', nan, 'Yes'], dtype=object)

In [11]:
df_train["Stage_fear"]=df_train["Stage_fear"].map({"Yes":1,"No":0})
df_train["Drained_after_socializing"]=df_train["Drained_after_socializing"].map({"Yes":1,"No":0})
df_train["Personality"]=df_train["Personality"].map({"Extrovert":1,"Introvert":0})

In [12]:
df_train.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,0.0,6.0,4.0,0.0,15.0,5.0,1
1,1,1.0,0.0,7.0,3.0,0.0,10.0,8.0,1
2,2,6.0,1.0,1.0,0.0,NaN,3.0,0.0,0
3,3,3.0,0.0,7.0,3.0,0.0,11.0,5.0,1
4,4,1.0,0.0,4.0,4.0,0.0,13.0,NaN,1

In [13]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18524 entries, 0 to 18523
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         18524 non-null  int64
 1   Time_spent_Alone           17334 non-null  float64
 2   Stage_fear                 16631 non-null  float64
 3   Social_event_attendance    17344 non-null  float64
 4   Going_outside              17058 non-null  float64
 5   Drained_after_socializing  17375 non-null  float64
 6   Friends_circle_size        17470 non-null  float64
 7   Post_frequency             17260 non-null  float64
 8   Personality                18524 non-null  int64
dtypes: float64(7), int64(2)
memory usage: 1.3 MB

In [14]:
df_train.isna().sum()

id                              0
Time_spent_Alone             1190
Stage_fear                   1893
Social_event_attendance      1180
Going_outside                1466
Drained_after_socializing    1149
Friends_circle_size          1054
Post_frequency               1264
Personality                     0
dtype: int64

In [15]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [16]:
num_cols = ['Time_spent_Alone', 'Stage_fear', 'Social_event_attendance',
            'Going_outside', 'Drained_after_socializing',
            'Friends_circle_size', 'Post_frequency']
imputer = KNNImputer(n_neighbors=5)
df_train[num_cols] = imputer.fit_transform(df_train[num_cols])
scaler = StandardScaler()
df_train[num_cols] = scaler.fit_transform(df_train[num_cols])

In [17]:
df_train.isnull().sum()

id                           0
Time_spent_Alone             0
Stage_fear                   0
Social_event_attendance      0
Going_outside                0
Drained_after_socializing    0
Friends_circle_size          0
Post_frequency               0
Personality                  0
dtype: int64

In [18]:
df_train.head()

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,-1.050059,-0.588538,0.283066,-0.001744,-0.588352,1.679432,0.026769,1
1,1,-0.713711,-0.588538,0.647775,-0.489671,-0.588352,0.486546,1.074237,1
2,2,0.968031,1.699893,-1.540483,-1.953453,1.700700,-1.183494,-1.719010,0
3,3,-0.041014,-0.588538,0.647775,-0.489671,-0.588352,0.725123,0.026769,1
4,4,-0.713711,-0.588538,-0.446354,-0.001744,-0.588352,1.202278,0.445756,1

In [21]:
import optuna
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split,cross_val_score,StratifiedKFold
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,f1_score
import numpy as np

In [23]:
num_cols = [
    'Time_spent_Alone', 'Stage_fear', 'Social_event_attendance',
    'Going_outside', 'Drained_after_socializing',
    'Friends_circle_size', 'Post_frequency'
]

X = df_train[num_cols]
y = df_train['Personality']

In [25]:
x_train,x_test,y_train,y_test = train_test_split(X,y,random_state=42,stratify=y)

In [ ]:
def objective(trial):

    n_estimators = trial.suggest_int("n_estimators",100,500,step=25)
    criterion = trial.suggest_categorical("criterion",["gini","entropy","log_loss"])
    max_depth = trial.suggest_int("max_depth",3,50)
    min_samples_split = trial.suggest_int("min_samples_split",2,25)
    min_samples_leaf = trial.suggest_int("min_samples_leaf",1,10)
    max_features = trial.suggest_categorical("max_features",["sqrt","log2",None])
    bootstrap = trial.suggest_categorical("bootstrap",[True,False])
    class_weight = trial.suggest_categorical("class_weight",[None,"balanced"])
    ccp_alpha = trial.suggest_float("ccp_alpha",0.0,0.02,step=0.002)
    model = RandomForestClassifier( 
        n_estimators=n_estimators,
        criterion=criterion,
        max_depth=max_depth,
        min_samples_split=min_samples_split,
        min_samples_leaf=min_samples_leaf,
        max_features=max_features,
        bootstrap=bootstrap,
        class_weight=class_weight,
        ccp_alpha=ccp_alpha,
        random_state=42,
        n_jobs=-1)
    skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
    scores = cross_val_score(model, x_train, y_train, cv=skf, scoring='f1')
    return scores.mean()
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=100, show_progress_bar=True)

print("\nðŸŽ¯ Best Hyperparameters Found:")
print(study.best_params)

best_params = study.best_params
best_model = RandomForestClassifier(
    **best_params,
    random_state=42,
    n_jobs=-1
)
best_model.fit(x_train, y_train)

y_pred = best_model.predict(x_test)

print("\nâœ… Model Performance on Test Set:")
print("Accuracy:", accuracy_score(y_test, y_pred))
print("F1 Score:", f1_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

[I 2025-12-04 00:16:34,338] A new study created in memory with name: no-name-eefdb45d-a96d-40c7-b4af-e1a8d5ee5aee

  0%|          | 0/100 [00:00<?, ?it/s]

[I 2025-12-04 00:16:55,148] Trial 0 finished with value: 0.9798696854256006 and parameters: {'n_estimators': 425, 'criterion': 'entropy', 'max_depth': 23, 'min_samples_split': 7, 'min_samples_leaf': 2, 'max_features': 'sqrt', 'bootstrap': True, 'class_weight': 'balanced', 'ccp_alpha': 0.0}. Best is trial 0 with value: 0.9798696854256006.
[I 2025-12-04 00:17:02,387] Trial 1 finished with value: 0.9799795037587448 and parameters: {'n_estimators': 275, 'criterion': 'log_loss', 'max_depth': 6, 'min_samples_split': 22, 'min_samples_leaf': 8, 'max_features': 'sqrt', 'bootstrap': True, 'class_weight': 'balanced', 'ccp_alpha': 0.008}. Best is trial 1 with value: 0.9799795037587448.